
{:source-paths ["source-code"]
 :dependencies [[cider/cider-nrepl "0.49.0"]
                [binaryage/devtools "1.0.7"]]
        
 :builds {:backend {:target :node-script
                    :output-to "resources/backend/core.js" 
                    :js-options {:js-package-dirs ["resources/backend/node_modules"]}
                    :main backend.server/start!}
          :backend-ready {:target :node-script
                          :output-to "resources/backend/core.js" 
                          :js-options {:js-package-dirs ["resources/backend/node_modules"]}
                          :main backend.server/start!}}} 
                          



